@import url('https://rsms.me/inter/inter.css');
  html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #1F1A37, #1F2128);
}

p{
  font: normal normal normal 1.5em/1.5em 'Inter', sans-serif;
  margin: 0px;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100% - 20px);
  padding: 10px;
}

.component{
  background-color: #151515;
  border-radius: 15px;
  transition: all .35s;
}

.connectButton {
  justify-content: center;
  float: right;
  height: 36px;
  width: 180px;
  margin: 0px;
  font-family: 'Inter var', sans-serif;
  font-feature-settings: "calt" 0;
  border: 0px;
}

.balance {
  background-color: #212529;
  float: right;
  height: 30px;
  width: 330px;
  height: 36px;
  margin: 0px;
  padding: 4px;
  font-family: 'Inter var', sans-serif;
}
#balance{
  margin-left: 4px;
  margin-top: 1px;
}
.text{
  font-size: 15px;
  color: #ffffff;
  margin: 0px;
  font-family: 'Inter var', sans-serif;
}

#logo{
  float: left;
  position: absolute;
  top: 10px;
  z-index: 999;
}

#secretButton{
  float: left;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 998;
  transition: all 1s;
  margin: 16px 14px;
}

.hiddenButton{
  background-color: #151515;
  border-radius: 15px;
  border: 2px solid #212529;
  color: white;
  width: 30px;
  height: 30px;
}

.interface {
  width: 500px;
  height: 200px;
}

.puzzle {
  width: 500px;
  height: auto;

}

.mint{
  float: top;
  background-color: #222222;
  height: 35px;
  margin: 5px;
}

.input{
  color: #ffffff;
}

.levelSwitcher {
  margin: 10px 0px;
  width: 300px;
  height: 26px;
  color:#ffffff;
  display:grid;
  gap:10px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows:30px;
  padding:4px;
  font-family: 'Inter var', sans-serif;
}

.levelButton {
  text-align: center;
  border-radius: 15px;
  background-color: #151515;
  height: 22px;
  cursor: pointer;
  transition: all .35s;
  font-family: 'Inter var', sans-serif;
  padding: 2px;
}
.level1{background-color: #212529;}


#levelHeading {
  line-height: normal;
  text-decoration-line: underline;
  margin: 5px;
  color: #f0f0f0;
  font-family: 'Inter', sans-serif;
}

#levelDescription {
  line-height: normal;
  margin: 5px;
  color: #f0f0f0;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}

#puzzle1 {
  line-height: normal;
  margin: 5px;
  font-size: 15px;
  color: #f0f0f0;
  width: auto;
  display: inline-block;
  font-family: 'Inter var', sans-serif;
  font-feature-settings: "calt" 0;
}

.puzzle {
  padding: 5px;
  position: relative;
}

#copy {
  display: inline-block;
  color: white;
  font-family: 'Inter var', sans-serif;
  border-radius: 5px;
  background-color: #212529;
  border: 0px;
  width: 25px;
  height: 25px;
}
#copy:hover {
  background-color: #313539;
}
#copy:active {
  background-color: #212529;
}

.answer{
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
  font-size: 20px;
  font-family: 'Inter var', sans-serif;
  border: 2px;
}

.submit{
  color: #ffffff;
  background-color: #313539;
  display: inline-block;
  padding: 5px;
  border: 2px solid #065a21;
  background-color: #151515;
  transition: all .35s;
  font-family: 'Inter var', sans-serif;
}
.submit:hover{
  background-color: #15aa44;
  transition: all .35s;
}
.submit:active{
  background-color: #151515;
  transition: all .35s;
}

#level3Image{
  width: auto;
  height: 70px;
  position: absolute;
  top: 20px;
  right: 60px;
}

.level2{
  font-family: 'Inter var', sans-serif;
  font-size: 12px;
  position: absolute;
  width: 350px;
  top: 20px;
  left: calc(50% - 180px);
  color: white;
  padding: 5px;
  display: none;
}